#title, #sku, #price {
    font-size: 17px;
    /*margin-bottom: 10px;*/
    padding:5px;
    margin-bottom: 10px;
}
table, td, th {
    border: 2px solid #005d7d;
    border-collapse:collapse;
    margin:5px 5px 5px 0px;
    height:35px;
    white-space: nowrap;
    padding:5px 10px;
}
form {
    position: absolute;
    z-index: 101;
    display:none;
    width: 225px;
    border: 2px solid black;
    margin-top:50px;
    margin-left: 200px;
    background: cornflowerblue;
    padding: 10px;
}
.ui-dialog .ui-dialog-buttonpane {
    text-align: center;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}
#dialogOne p {
    white-space: pre;
}
